body {
    text-align: center;
}

header {
    width: auto;
    height: 10vh;
    align-content: center;
    border: solid black;
}

.playArea {
    width: 80vw;
    height: 75vh;
    margin: 0 auto;
    border: solid black;
    display: grid;
    grid-template: 1 / 3;
}
.peg {
    width: 1fr;
    height: auto;
    margin: 0 auto;
    border: solid black;
}
.disk {
    height: 5vh;
    margin: 0 auto;
    border: solid black;
}
footer {
    width: auto;
    height: 10vh;
    align-content: center;
    border: solid black;
}