body {
    text-align: center;
    align-items: center;
    background: black;
    color: white;
}

header {
    width: 100vw;
    height: 10vh;
    border: solid darkgrey;
    display: table-cell;
    vertical-align: middle;
    font-size: larger;
}

.playArea {
    width: 80vw;
    height: 75vh;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.stack {
    margin: 10px;
    border: thin solid lightgrey;
    position: relative;
}

#stack1 {
    grid-column: 1;
}

#stack2 {
    grid-column: 2;
}

#stack3 {
    grid-column: 3;
}

.disk {
    height: 10%;
    margin: 0 auto;
    border: thin solid darkgrey;
    border-radius: 17.5%;
}

#disk1{
    width: 40%;
    background: red;
}

#disk2{
    width:50%;
    background: blue;
}

#disk3{
    width:60%;
    background: pink;
}

#disk4{
    width:70%;
    background: green;
}

#disk5{
    width:80%;
    background: orange;
}

#disk6{
    width:90%;
    background: purple;
}

#disk7{
    width:100%;
    background: yellow;
}

footer {
    width: 100vw;
    height: 10vh;
    align-content: center;
    border: solid darkgrey;
    display: table-cell;
    vertical-align: middle;
}