body {
    text-align: center;
    align-items: center;
    background: black;
    color: white;
    font-size: larger;
}

header {
    width: 100vw;
    height: 10vh;
    display: table-cell;
    vertical-align: middle;
    color:yellow;
}

.playArea {
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.stack {
    margin: 10px;
    border: thin solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#stack1 {
    grid-column: 1;
}

#stack2 {
    grid-column: 2;
}

#stack3 {
    grid-column: 3;
}

.disk {
    height: 10%;
    margin: 0 auto;
    border: thin solid black;
    border-radius: 25px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#disk1 {
    width: 40%;
    background: red;
}

#disk2 {
    width:50%;
    background: blue;
}

#disk3 {
    width:60%;
    background: pink;
}

#disk4 {
    width:70%;
    background: green;
}

#disk5 {
    width:80%;
    background: orange;
}

#disk6 {
    width:90%;
    background: purple;
}

img {
    width: 70vw;
    height: auto;
    align-self: center;
    justify-self: center;
    grid-column: span 3;
}

footer {
    width: 90vw;
    height: 20vh;
    align-content: center;
    display: grid;
    grid-template: 2fr / repeat(3, 1fr);
    margin: 0 auto;
}

.thisMoves {
    grid-row: 2;
    grid-column: 1;

}

#resetButton {
    height: 10vh;
    grid-row: 1;
    grid-column: 1 / span 3;
    border-radius: 25px;
    background-color: darkgrey;
    color: lightgrey;
    font-weight: bold;
    font-size: larger;
}

.bestMoves {
    grid-row: 2;
    grid-column: 2;
}

.optimalMoves {
    grid-row: 2;
    grid-column: 3;
}